.thumbnail {
   width: 100%;
 }






 }

 .video-grid-info {
   display: grid;
   grid-template-columns: 50px 1fr;
 }

 .video-title {
   margin-top: 0;
   font-size: 14px;
   font-weight: bold;
   line-height: 20px;
   margin-bottom: 12px;

 }

 .profile-pic {
   display: inline-block;
   width: 50px;
   vertical-align: top;
 }

 .video-info {
   display: inline-block;
   width: 200px;
 }

 .channel-image {
   width: 36px;
   border-radius: 50px;

 }

 .thumbnail-row {
   margin-bottom: 8px;
   position: relative;
 }

 .author,
 .views {
   font-size: 12px;
   color: rgb(96, 96, 96);
 }

 .author {
   margin-bottom: 4px;
 }

 .video-layout {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   column-gap: 16px;
   row-gap: 40px;
 }

 .video-time {
   font-size: 12px;
   font-weight: 500;
   padding: 4px 2px 4px 2px;
   border-radius: 2px;
   background-color: black;
   color: white;
   position: absolute;
   bottom: 8px;
   right: 5px;
 }

 @media (max-width:,650px) {
   .video-layout {
     grid-template-columns: 1fr ;
   }
 }

 @media (min-width:1000px) {
   .video-layout {
     grid-template-columns: 1fr 1fr 1fr 1fr;
   }
 }
